<div class="modal fade" id="vendre<%= type === 'produit' ? 'Prod' : 'Emb' %><%= item.id %><%= id_caisse %>" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/addHistCaisse" method="POST">
          <div class="modal-header">
            <h5 class="modal-title">Vente : <%= item.nom %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <p>Prix unitaire : <strong><%= item.prix_unit %> FCFA</strong></p>
            
            <input type="hidden" name="idpro" value="<%= item.id %>">
            <input type="hidden" name="type" value="<%= type %>">
            <input type="hidden" name="barclub" value="<%= lieu %>">
            <input type="hidden" name="caisse" value="<%= id_caisse %>">
            <input type="hidden" name="caissier" value="<%= id_caissier %>">
            <input type="hidden" name="prix" value="<%= item.prix_unit %>">
            <input type="hidden" name="nom" value="<%= item.nom %>">
  
            <div class="mb-3">
              <label class="form-label">Quantité à vendre (Max: <%= item.qte_dispo %>)</label>
              <input type="number" name="qte" class="form-control" min="1" max="<%= item.qte_dispo %>" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-success">Valider la vente</button>
          </div>
        </form>
      </div>
    </div>
  </div>