<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/doctors-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:08 GMT -->
<%- include('head')%>

  <body>

    <!-- Page wrapper starts -->
    <div class="page-wrapper">

      <!-- App header starts -->
      <% if(user.Personnel.type_personnel === 'admin'){%>
        <%- include('header')%>
      <% }else{%>
        <%- include('header-staff')%>
      <% }%>
      <!-- App header ends -->

      <!-- Main container starts -->
      <div class="main-container">

        <!-- Sidebar wrapper starts -->
        <% if(user.Personnel.type_personnel === 'admin'){%>
          <%- include('menu')%>
        <% }else{%>
          <%- include('menu-staff')%>
        <% }%>
        <!-- Sidebar wrapper ends -->

        <!-- App container starts -->
        <div class="app-container">

          <!-- App hero header starts -->
          <div class="app-hero-header d-flex align-items-center">

            <!-- Breadcrumb starts -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a href="/index">Accueil</a>
              </li>
              <li class="breadcrumb-item text-primary" aria-current="page">
                Liste des Journaux
              </li>
            </ol>
            <!-- Breadcrumb ends -->

            <!-- Sales stats starts -->
            
            <!-- Sales stats ends -->

          </div>
          <!-- App Hero header ends -->

          <!-- App body starts -->
          <div class="app-body">
            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title">Historique</h5>
                    <!-- <a href="/formAddhist" class="btn btn-primary ms-auto">Ajouter une hist</a> -->
                  </div>
                  <div class="card-body">
                    <% if(msg) {%>
                      <% if(msg === 'ajout') {%>
                        <div class="alert bg-white border alert-dismissible fade show text-success" role="alert">
                          <b>Elément </b> supprimer avec succes !
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      <% }%>
                      <% if(msg === 'modif') {%>
                        <div class="alert bg-white border alert-dismissible fade show text-info" role="alert">
                          <b>Elément </b> modifier avec succes !
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      <% }%>
                      <% if(msg === 'sup') {%>
                        <div class="alert bg-white border alert-dismissible fade show text-danger" role="alert">
                          <b>Elément </b> supprimer avec succes !
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      <% }%>
                    <% }%>
                    <!-- Table starts -->
                    <div class="table-responsive">
                      <table id="basicExample" class="table truncate m-0 align-middle dataTable" aria-describedby="basicExample_filter">
                        <thead class="text-center">
                          <tr>
                            <th>Nom</th>
                            <th>Quantiter</th>
                            <th>Prix unitaire</th>
                            <th>Type</th>
                            <th>Nom Bar/Club/Appart</th>
                            <th>Date</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody class="text-center">
                            <% hists.forEach(hist => { %>
                                <tr>
                                    <td><%= hist.nom %></td>
                                    <td><%= hist.quantiter %></td>
                                    <td><%= hist.prix_unit %></td>
                                    <td><%= hist.type %></td>
                                    <td><%= hist.nomBarClub %></td>
                                    <td><%= new Date(hist.created).getDate() < 10 ? `0${new Date(hist.created).getDate()}` : 
                                        new Date(hist.created).getDate()  %>-<%= new Date(hist.created).getMonth() + 1 < 10 ? 
                                        `0${new Date(hist.created).getMonth() + 1}` : new Date(hist.created).getMonth() + 1 %>-
                                        <%= new Date(hist.created).getFullYear()%></td>
                                    <td>
                                        <div class="d-inline-flex gap-1">
                                            <!-- ----------------------------------------------------------------------------------- -->
                                            <div class="col-sm-4">
                                            <!-- Card starts -->
                                                <!-- Button trigger modal -->
                                                <button type="button" data-bs-toggle="modal"
                                                    data-bs-target="#<%= hist.id_hist %>ModalCenter" class="btn btn-outline-danger btn-sm">
                                                    <i class="ri-delete-bin-line"></i>
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="<%= hist.id_hist %>ModalCenter" tabindex="-1"
                                                    aria-labelledby="<%= hist.id_hist %>ModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="<%= hist.id_hist %>ModalCenterTitle">
                                                            Confirmer
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                        <p>Voulez-vous vraiment supprimer cet Historique ?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                            annuler
                                                        </button>
                                                        <form action="/deleteHistCaisse/<%= hist.id_hist %>?_method=DELETE" method="post">
                                                            <div class="col-sm-12">
                                                            <div class="d-flex gap-2 justify-content-end">
                                                                <button type="submit" class="btn btn-danger">Supprimer</button>
                                                            </div>
                                                            </div>
                                                        </form>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            <!-- Card ends -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                      </table>
                    </div>
                    <!-- Table ends -->

                    <!-- Modal Delete Row -->
                    

                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

          </div>
          <!-- App body ends -->

          <!-- App footer starts -->
          <div class="app-footer bg-white">
          </div>
          <!-- App footer ends -->
          <!-- App footer starts -->
          <div class="app-footer bg-white">
            <span>© OneLove admin 2026</span>
          </div>
          <!-- App footer ends -->
        </div>
        <!-- App container ends -->

      </div>
      <!-- Main container ends -->

    </div>
    <!-- Page wrapper ends -->

    <!-- *************
			************ JavaScript Files *************
		************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <%- include('script')%>
    <script>
      window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted || 
                              (typeof window.performance != "undefined" && 
                                window.performance.navigation.type === 2);
        if (historyTraversal) {
            // Si l'utilisateur est revenu en arrière, on recharge la page proprement
            window.location.reload();
        }
      });
    </script>
  </body>


<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/doctors-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:08 GMT -->
</html>