<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/income.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:17 GMT -->
<%- include('head')%>

  <body>

    <!-- Page wrapper starts -->
    <div class="page-wrapper">

      <!-- App header starts -->
      <% if(user.Personnel.type_personnel === 'admin'){%>
        <%- include('header')%>
      <% }else{%>
        <%- include('header-staff')%>
      <% }%>
      <!-- App header ends -->

      <!-- Main container starts -->
      <div class="main-container">

        <!-- Sidebar wrapper starts -->
        <% if(user.Personnel.type_personnel === 'admin'){%>
          <%- include('menu')%>
        <% }else{%>
          <%- include('menu-staff')%>
        <% }%>
        <!-- Sidebar wrapper ends -->

        <!-- App container starts -->
        <div class="app-container">

          <!-- App hero header starts -->
          <div class="app-hero-header d-flex align-items-center">

            <!-- Breadcrumb starts -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a href="index.html">Accueil</a>
              </li>
              <li class="breadcrumb-item text-primary" aria-current="page">
                Caisse général One Love
              </li>
            </ol>
            <!-- Breadcrumb ends --> 

            <!-- Sales stats starts -->
            
            <!-- Sales stats ends -->

          </div>
          <!-- App Hero header ends -->

          <!-- App body starts -->
          <div class="app-body">
            

            <!-- Row start -->
            <div class="row gx-3">
              <div class="col-sm-12">

                <!-- Card start -->
                <div class="card">
                  <div class="card-header">

                    <!-- List start -->
                    <div class="d-flex flex-wrap gap-1" id="diagram">
                      
                    </div>
                    <!-- List end -->

                  </div>
                  <div class="card-body">
                    
                    <!-- Table start -->
                    <div class="">
                      <h5 class="card-title">Tableau des recette des Département mois et par par année</h5>
                    </div>
                    <!-- ---------------------------------------------------------------- -->
                    <div class="">
                      <div class="">
                        <div class="card-body">
                          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner pb-3" id="pp">
                              
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                              data-bs-slide="prev" >
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            </button>
                            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators"
                              data-bs-slide="next" >
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            </button>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- ---------------------------------------------------------------- -->
                      
                    <!-- Table end -->

                  </div>
                </div>
                <!-- Card end -->

              </div>
            </div>
            <!-- Row end -->
            <!-- Row starts -->
            
            <!-- Row ends -->
          </div>
          <!-- App body ends -->

          <!-- App footer starts -->
          <div class="app-footer bg-white">
            <span>© OneLove admin 2024</span>
          </div>
          <!-- App footer ends -->

        </div>
        <!-- App container ends -->

      </div>
      <!-- Main container ends -->

    </div>
    <!-- Page wrapper ends -->

    <!-- *************
			************ JavaScript Files *************
		************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <!-- Overlay Scroll JS -->

    <!-- Apex Charts -->
    <script src="/assets/vendor/apex/apexcharts.min.js"></script>

    <!-- Data Tables -->

    <!-- Custom JS files -->

    <script>
      const text_colore = ['text-primary', 'text-info', 'text-danger', 'text-warning', 'text-success', 'text-light']
      const class_colore = ['badge bg-primary', 'badge bg-info', 'badge bg-danger', 'badge bg-warning', 'badge bg-success', 'badge bg-dark']
      traduct = (date) => {
          const dates = new Date(`${date.split('-')[0]}-${date.split('-')[1]}-01`);
          const shortMonth = dates.toLocaleString('en-US', {month: 'short'});
          return shortMonth;
      }
      const pp = document.getElementById('pp');
      const all_mont = document.querySelectorAll('.mois');
      const diagram = document.getElementById('diagram');

      const data = JSON.parse('<%- JSON.stringify(all_recette) %>'); 
      console.log(data)
      
      const dep = ['Bar Simple', 'Bar Vip', 'Appartement', 'Cuisine', 'Maison close', 'Crazy Club']
      const all_month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec",]
      const anner = []

      data.forEach(elements => {
        elements.forEach(element => {
          if(!anner.includes(element.mois.split('-')[0])){
            anner.push(element.mois.split('-')[0])
          }
        })
      });

      anner.forEach((anner, index) => {
        pp.insertAdjacentHTML('beforeend',`
          <div class="card-body carousel-item ${index === 0? 'active' : ''}" id="p${index}">
            <div class="table-responsive">
              <table id="" class="table m-0 randomTableColors customButtone align-middle">
                <thead>
                  <tr>
                    <th>Department</th>
                    <th class="mois">Jan</th>
                    <th class="mois">Feb</th>
                    <th class="mois">Mar</th>
                    <th class="mois">Apr</th>
                    <th class="mois">May</th>
                    <th class="mois">Jun</th>
                    <th class="mois">Jul</th>
                    <th class="mois">Aug</th>
                    <th class="mois">Sep</th>
                    <th class="mois">Oct</th>
                    <th class="mois">Nov</th>
                    <th class="mois">Dec</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody id="${index}-${anner}">
                  
                </tbody>
              </table>
            </div>
          </div>
        `)

        
        const p = document.getElementById(`${index}-${anner}`);

        for(let i = 0; i < data.length; i++){
          const ref = Array(12).fill('-');
          let total = 0;
          data[i].forEach(element => {
            for(let j = 0; j < all_month.length; j++){
              if(traduct(element.mois) === all_month[j] && anner === element.mois.split('-')[0]){
                ref[j]=element.total_recette
                total = total + parseInt(element.total_recette)
              }
            }
          });

          //exi = document.getElementById(`#income${index}`);
          //console.log(exi)
          p.insertAdjacentHTML('beforeend',`
            <tr>
              <td><span class="${class_colore[i]}">${dep[i]} ${anner}</span></td>
              <td>${ref[0]}</td>
              <td>${ref[1]}</td>
              <td>${ref[2]}</td>
              <td>${ref[3]}</td>
              <td>${ref[4]}</td>
              <td>${ref[5]}</td>
              <td>${ref[6]}</td>
              <td>${ref[7]}</td>
              <td>${ref[8]}</td>
              <td>${ref[9]}</td>
              <td>${ref[10]}</td>
              <td>${ref[11]}</td>
              <td>${total} FCFA</td>
            </tr>
          `)
        }
      })
    </script>
    <%- include('script')%>
  </body>


<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/income.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:18 GMT -->
</html>