<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/income.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:17 GMT -->
<%- include('head')%>

  <body>

    <!-- Page wrapper starts -->
    <div class="page-wrapper">

      <!-- App header starts -->
      <% if(user.Personnel.type_personnel === 'admin'){%>
        <%- include('header')%>
      <% }else{%>
        <%- include('header-staff')%>
      <% }%>
      <!-- App header ends -->

      <!-- Main container starts -->
      <div class="main-container">

        <!-- Sidebar wrapper starts -->
        <% if(user.Personnel.type_personnel === 'admin'){%>
          <%- include('menu')%>
        <% }else{%>
          <%- include('menu-staff')%>
        <% }%>
        <!-- Sidebar wrapper ends -->

        <!-- App container starts -->
        <div class="app-container">

          <!-- App hero header starts -->
          <div class="app-hero-header d-flex align-items-center">

            <!-- Breadcrumb starts -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a href="/index">Accueil</a>
              </li>
              <li class="breadcrumb-item text-primary" aria-current="page">
                Caisse général des Crazy Club de One Love
              </li>
            </ol>
            <!-- Breadcrumb ends --> 

            <!-- Sales stats starts -->
            
            <!-- Sales stats ends -->

          </div>
          <!-- App Hero header ends -->

          <!-- App body starts -->
          <div class="app-body">
            

            <!-- Row start -->
            <div class="row gx-3">
              <div class="col-sm-12">

                <!-- Card start -->
                <div class="card">
                  <div class="card-header">

                    <!-- List start -->
                    <div class="d-flex flex-wrap gap-1" id="diagram">
                      
                    </div>
                    <!-- List end -->

                  </div>
                  <div class="card-body">

                    <!-- Table start -->
                    <div class="table-responsive">
                      <table id="customButtons" class="table m-0 randomTableColors">
                        <thead>
                          <tr>
                            <th>Department</th>
                            <th class="mois">Jan</th>
                            <th class="mois">Feb</th>
                            <th class="mois">Mar</th>
                            <th class="mois">Apr</th>
                            <th class="mois">May</th>
                            <th class="mois">Jun</th>
                            <th class="mois">Jul</th>
                            <th class="mois">Aug</th>
                            <th class="mois">Sep</th>
                            <th class="mois">Oct</th>
                            <th class="mois">Nov</th>
                            <th class="mois">Dec</th>
                            <th>Total</th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                          
                        </tbody>
                      </table>
                    </div>
                    <!-- Table end -->

                  </div>
                </div>
                <!-- Card end -->

              </div>
            </div>
            <!-- Row end -->
            <!-- Row starts -->
            <br>
            <div class="row gx-3">
              <div class="col-sm-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="card-title">Courbre de variation des recette des Crazy Club par année</h5>
                  </div>
                  <!-- ---------------------------------------------------------------- -->
                  <div class="">
                    <div class="">
                      <div class="card-body">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                              class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                              aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                              aria-label="Slide 3"></button>
                          </div>
                          <div class="carousel-inner pb-3" id="pp">

                          </div>

                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev" >
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          </button>
                          <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next" >
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>
                   <!-- ---------------------------------------------------------------- -->
                  
                </div>
              </div>
            </div>
            <!-- Row ends -->
          </div>
          <!-- App body ends -->

          <!-- App footer starts -->
          <div class="app-footer bg-white">
            <span>© OneLove admin 2026</span>
          </div>
          <!-- App footer ends -->
        </div>
        <!-- App container ends -->

      </div>
      <!-- Main container ends -->

    </div>
    <!-- Page wrapper ends -->

    <!-- *************
			************ JavaScript Files *************
		************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <!-- Required jQuery first, then Bootstrap Bundle JS  style = "height= 100%"--> 
  
    
    <!-- Apex Charts -->
    <script src="assets/vendor/apex/apexcharts.min.js"></script>
    <%- include('script')%>
    <script>
      window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted || 
                               (typeof window.performance != "undefined" && 
                                window.performance.navigation.type === 2);
        if (historyTraversal) {
            // Si l'utilisateur est revenu en arrière, on recharge la page proprement
            window.location.reload();
        }
      });
      const text_colore = ['text-primary', 'text-info', 'text-danger', 'text-warning', 'text-success']
      const class_colore = ['badge bg-primary', 'badge bg-info', 'badge bg-danger', 'badge bg-warning', 'badge bg-success']
      traduct = (date) => {
          const dates = new Date(`${date.split('-')[0]}-${date.split('-')[1]}-01`);
          const shortMonth = dates.toLocaleString('en-US', {month: 'short'});
          return shortMonth;
      }
      
      const pp = document.getElementById('pp');
      const tbody = document.getElementById('tbody');
      const anner = []
      

      let recette = JSON.parse('<%- JSON.stringify(all_bs_casse) %>')
      if(recette.length === 0){
        let d = new Date().toISOString().slice(0,7);
        recette.push(JSON.parse(JSON.stringify({
            "mois": d,
            "id_cclub": 1,
            "total_recette": 0,
            "NomCc": "..."
        })))
      }
      console.log(recette)

      recette.forEach(element => {
        if(!anner.includes(element.mois.split('-')[0])){
          anner.push(element.mois.split('-')[0])
        }
      });

      console.log(anner)

      // ----------------------------------------------------------------------
      anner.forEach((anner, ia) => {
        const nb_bs = []
        const nom = []
        const all_total = []

        

        recette.forEach(element => {
          if(element.mois.split('-')[0] === anner){
            if(!nb_bs.includes(element.id_cclub)){
              nb_bs.push(element.id_cclub)
            }
            if(!nom.includes(element.NomCc)){
              nom.push(element.NomCc)
            }
          }
        });


        for(let i = 0; i < nb_bs.length; i++){
          let total = 0
          recette.forEach((element, index) => {
            if(nb_bs[i] === element.id_cclub && anner === element.mois.split('-')[0]){
              total = total + element.total_recette
            }
          });
          all_total.push(total);
        }

        console.log('=>',nb_bs, nom, all_total)

        pp.insertAdjacentHTML('beforeend',`
          <div class="card-body carousel-item ${ia === 0? 'active' : ''}" id="p${ia}">
          </div>
        `)

        const p = document.getElementById(`p${ia}`);

        boole = 0
        nb_bs.forEach((id, index) => {

          const all_month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec",]
          const recettes = Array(12).fill(0);
          recette.forEach(element => {
            if(element.id_cclub === id && anner === element.mois.split('-')[0]){
              for(let j = 0; j < all_month.length; j++){
                if(all_month[j] === traduct(element.mois)){
                  //console.log(element.total_recette, typeof element.total_recette)
                  recettes[j] = element.total_recette
                }
              }
            }
          })
          var options = {
            chart: {
              height: 300,
              type: "line",
              toolbar: {
                show: true,
              },
            },
            title:{
              text: `${nom[index]} ${anner}`,
              aligne: 'left',
              style:{
                color: `red`,
              }
            },
            dataLabels: {
              enabled: false,
            },
            stroke: {
              curve: "smooth",
              width: 3,
            },
            series: [
              {
                name: "Recette",
                data: recettes,
              },
            ],
            grid: {
              borderColor: "#d8dee6",
              strokeDashArray: 5,
              xaxis: {
                lines: {
                  show: true,
                },
              },
              yaxis: {
                lines: {
                  show: true,
                },
              },
              padding: {
                top: 0,
                right: 0,
                bottom: 10,
                left: 0,
              },
            },
            xaxis: {
              categories: all_month,
            },
            yaxis: {
              labels: {
                show: true,
              },
            },
            colors: ["#116aef", "#ce313e", "#436ccf", "#dcad10", "#828382"],
            markers: {
              size: 0,
              opacity: 0.3,
              colors: ["#116aef", "#ce313e", "#436ccf", "#dcad10", "#828382"],
              strokeColor: "#ffffff",
              strokeWidth: 1,
              hover: {
                size: 7,
              },
            },
            tooltip: {
              y: {
                formatter: function (val) {
                  return val + "FCFA";
                },
              },
            },
          };

          exi = document.getElementById(`#income${ia}`);
          console.log(exi)
          if(!exi){
            p.insertAdjacentHTML('beforeend',`
              <div class="chart-height-lg">
                  <div id="income${ia}" ></div>
              </div>
            `)
          }
          console.log(id, nom[index], anner)

          tbody.insertAdjacentHTML('beforeend',`
            <tr>
              <td><span class="${class_colore[id]}"> ${nom[index]} ${anner}</span></td>
              <td>${recettes[0]}</td>
              <td>${recettes[1]}</td>
              <td>${recettes[2]}</td>
              <td>${recettes[3]}</td>
              <td>${recettes[4]}</td>
              <td>${recettes[5]}</td>
              <td>${recettes[6]}</td>
              <td>${recettes[7]}</td>
              <td>${recettes[8]}</td>
              <td>${recettes[9]}</td>
              <td>${recettes[10]}</td>
              <td>${recettes[11]}</td>
              <td>${all_total[index]} FCFA</td>
            </tr>
          `)

          const hot = document.getElementById(`income${ia}`);
          hot.insertAdjacentHTML('beforeend',`
            <div class="" id="d${boole}-${anner}">
            </div>
          `)
          var chart = new ApexCharts(document.querySelector(`#d${boole}-${anner}`), options);

          chart.render();
          boole++
        })
      })
    </script>
  </body>
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/income.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:18 GMT -->
</html>