<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/add-staff.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:13 GMT -->
<%- include('head')%>

  <body style="background-color: rgb(56, 100, 158);">

    <!-- Page wrapper starts -->
    <div class="page-wrapper">

      <!-- App header starts -->
      <% if(user.Personnel.type_personnel === 'admin'){%>
        <%- include('header')%>
      <% }else{%>
        <%- include('header-staff')%>
      <% }%>
      <!-- App header ends -->

      <!-- Main container starts -->
      <div class="main-container">

        <!-- Sidebar wrapper starts -->
        <% if(user.Personnel.type_personnel === 'admin'){%>
          <%- include('menu')%>
        <% }else{%>
          <%- include('menu-staff')%>
        <% }%>
        <!-- Sidebar wrapper ends -->

        <!-- App container starts -->
        <div class="app-container">

          <!-- App Hero header ends -->

          <!-- App body starts -->
          <div class="app-body">
            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-sm-12">
                <div class="text-center">
                    <%for(let i = 1; i<10 ; i++) {%>
                        <div style="display: inline-block;padding: 10px; background-color: rgb(166 214 241); 
                            border-radius: 16px; border-style: solid; border-width: 1px; margin: 10px;">
                            <div style="display: flex; justify-content: space-between;">
                                <p><b style="padding-right: 10px;">Emballage:</b></p>
                                <p>cigare vide</p>
                            </div>

                            <div style="display: flex; justify-content: space-between;">
                                <p><b style="padding-right: 20px;">Quantiter recu: </b></p>
                                <p>150</p>
                            </div>

                            <div style="display: flex; justify-content: space-between;">
                                <p><b style="padding-right: 20px;">Recette attendu:</b></p>
                                <p>150</p>
                            </div>

                            <div style="display: flex; justify-content: space-between;">
                                <p><b style="padding-right: 20px;">stock: </b></p>
                                <p>150</p>
                            </div>
                            
                            <div style="display: flex; justify-content: space-between;">
                                <p><b style="padding-right: 20px;">prix unitaire: </b></p>
                                <p>600</p>
                            </div>
                            
                            <div style="display: flex; justify-content: space-between;">
                                <p><b style="padding-right: 20px;">Vendu: </b></p>
                                <p>40</p>
                            </div>
                            
                            <div style="display: flex; justify-content: space-between;">
                                <p><b style="padding-right: 20px;">recette actuelle:</b></p>
                                <p>110</p>
                            </div>
                            <div>
                                <button type="button" data-bs-toggle="modal"
                                    data-bs-target="#ModalCenter" class="btn btn-outline-info btn-sm w-50">
                                    <i class="">Mise a jour</i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="ModalCenter" tabindex="-1"
                                aria-labelledby="personnel.id_personnelModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalCenterTitle">
                                        Compte
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                        <div class="modal-body">
                                            <form action="" method="post">
                                                <div class="row gx-3">
                                                  <div class="col-sm-12">
                                                    <div class="bg-light rounded-2 px-3 py-2 mb-3">
                                                      <h6 class="m-0">Emballage name</h6>
                                                    </div>
                                                  </div>
                                                  
                                                  <div class="col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="mb-3">
                                                      <label class="form-label" for="a1">Stock<span class="text-danger">*</span></label>
                                                      <input type="number" min="0"  max="" step="0.1" class="form-control" id="a1" placeholder="Stock actuelle" name="stock" required>
                                                    </div>
                                                  </div>
                                                  <div class="col-xxl-3 col-lg-6 col-sm-6">
                                                    <div class="mb-3">
                                                      <label class="form-label" for="a2">Quantiter vendu <span class="text-danger">*</span></label>
                                                      <input type="number" min="0" step="0.1" class="form-control" id="a2" placeholder="Quantiter vendu" name="prix" required>
                                                    </div>
                                                  </div>
                                                  <input type="hidden" class="form-control" id="a2" name="type" value="produit">
                                                  <input type="hidden" class="form-control" id="a2" name="idpro" value="">
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Annuler
                                                  </button>
                                                  <button type="submit" class="btn btn-danger">Appliquer les modifications</button>
                                                </div>
                                              </form>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
              </div>
            </div>
            <!-- Row ends -->
          </div>
          <!-- App body ends -->

          <!-- App footer starts -->
          <div class="app-footer bg-white">
            <span>© OneLove admin 2024</span>
          </div>
          <!-- App footer ends -->

        </div>
        <!-- App container ends -->

      </div>
      <!-- Main container ends -->

    </div>
    <!-- Page wrapper ends -->

    <!-- *************
			************ JavaScript Files *************
		************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <%- include('script')%>
  </body>
  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/add-staff.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:13 GMT -->
</html>