<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/doctors-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:09 GMT -->
<%- include('head')%>
<style>
  table td{
    white-space: normal;
    word-break: break-word;;
  }
</style>
  <body>

    <!-- Page wrapper starts -->
    <div class="page-wrapper">

      <!-- App header starts -->
      <% if(user.Personnel.type_personnel === 'admin'){%>
        <%- include('header')%>
      <% }else{%>
        <%- include('header-staff')%>
      <% }%>
      <!-- App header ends -->

      <!-- Main container starts -->
      <div class="main-container">

        <!-- Sidebar wrapper starts -->
        <% if(user.Personnel.type_personnel === 'admin'){%>
          <%- include('menu')%>
        <% }else{%>
          <%- include('menu-staff')%>
        <% }%>
        <!-- Sidebar wrapper ends -->

        <!-- App container starts -->
        <div class="app-container">

          <!-- App hero header starts -->
          
          <!-- App Hero header ends -->

          <!-- App body starts -->
          <div class="app-body">

            <!-- Row starts -->
            <div class="row gx-3">
                <div class="col-xxl-6 col-sm-12">
                    <% if (histas && histas.length > 0) { %>
                    <!-- Table starts -->
                    <div class="table-responsive">
                        <table id="basicExample" class="table truncate m-0 align-middle dataTable" aria-describedby="basicExample_filter">
                        <thead class="text-center">
                            <tr>
                            <th aria-controls="basicExample">ID</th>
                            <th>Nom et Prenom</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Heure début</th>
                            <th>Heure fin</th>
                            <th>Justification</th>
                            <th>Pointeur</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <% i = 1; histas.forEach(hista => { %>
                            <tr>
                            <td><%= i %></td>
                            <td><%= hista.Personnel.nom %> <%= hista.Personnel.prenom %></td>
                            <td><%= hista.etat_presence %></td>
                            <td><%= new Date(hista.date).getDate() < 10 ? `0${new Date(hista.date).getDate()}` : new Date(hista.date).getDate()  %>-<%= new Date(hista.date).getMonth() + 1 < 10 ? `0${new Date(hista.date).getMonth() + 1}` : new Date(hista.date).getMonth() + 1 %>-<%= new Date(hista.date).getFullYear()%></td>
                            <td><%= hista.heure_arriver %></td>
                            <td><%= hista.heure_deppart %></td> 
                            <td><%= hista.description %></td> 
                            <td><%= hista.Personnel.nom %> <%= hista.Personnel.prenom %></td> 
                            <td>
                                <div class="d-inline-flex gap-1">
                                <!-- ----------------------------------------------------------------------------------- -->
                                <div class="col-sm-4">
                                    <!-- Card starts -->
                                        <!-- Button trigger modal -->
                                        <button type="button" data-bs-toggle="modal"
                                        data-bs-target="#<%= hista.id_presence %>ModalCenter" class="btn btn-outline-danger btn-sm">
                                        <i class="ri-delete-bin-line"></i>
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="<%= hista.id_presence %>ModalCenter" tabindex="-1"
                                        aria-labelledby="<%=hista.id_presence%>ModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <!-- <form action="/deletehista/<%= hista.id_presence %>?_method=DELETE" method="post"> -->
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="<%= hista.id_presence %>ModalCenterTitle">
                                                Confirmer
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="white-space: normal; word-wrap: break-word; overflow: break-word;">
                                                <p>Voulez-vous vraiment supprimer cette Absence ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                annuler
                                                </button>
                                                <form action="/deletePresence/<%= hista.id_presence %>?_method=DELETE&etat=absent" method="post">
                                                <div class="col-sm-12">
                                                    <div class="d-flex gap-2 justify-content-end">
                                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                                    </div>
                                                </div>
                                                </form>
                                            </div>
                                            </div>
                                        <!-- </form> -->
                                        </div>
                                        </div>
                                    <!-- Card ends -->
                                </div>
                            </td>
                            </tr>
                            <% i++}) %>
                        </tbody>
                        </table>
                    </div>
                    </div>
                    <% }else{ %>
                        <div class="alert bg-white border alert-dismissible fade show text-info" role="alert">
                            Aucune <b>Absence </b> n'a encore été marquer!
                        </div>
                        <button type="button" class="btn btn-info">
                            <a href="/presence" class="text-white"><i class="ri-sticky-note-add-line">Ajouter une Absence</i></a> 
                        </button>
                    <% } %>
                </div>
                <!-- Row ends -->
            </div>
          <!-- App body ends -->

          <!-- App footer starts -->
          <div class="app-footer bg-white">
            <span>© OneLove admin 2026</span>
          </div>
          <!-- App footer ends -->

        </div>
        <!-- App container ends -->

      </div>
      <!-- Main container ends -->

    </div>
    <!-- Page wrapper ends -->

    <!-- *************
			************ JavaScript Files *************
		************* -->
    <%- include('script')%>
    <script>
      window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted || 
                               (typeof window.performance != "undefined" && 
                                window.performance.navigation.type === 2);
        if (historyTraversal) {
            // Si l'utilisateur est revenu en arrière, on recharge la page proprement
            window.location.reload();
        }
      });
    </script>
  </body>


<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/doctors-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:09 GMT -->
</html>