<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:15:49 GMT -->
<%- include('head')%>

  <body >

    <!-- Loading starts 
    <div id="loading-wrapper">
      <div class='spin-wrapper'>
        <div class='spin'>
          <div class='inner'></div>
        </div>
        <div class='spin'>
          <div class='inner'></div>
        </div>
        <div class='spin'>
          <div class='inner'></div>
        </div>
        <div class='spin'>
          <div class='inner'></div>
        </div>
        <div class='spin'>
          <div class='inner'></div>
        </div>
        <div class='spin'>
          <div class='inner'></div>
        </div>
      </div>
    </div>-->
    <!-- Loading ends -->

    <!-- Page wrapper starts -->
    <div class="page-wrapper">

      <!-- App header starts -->
      <%- include('header')%>
      <!-- App header ends -->

      <!-- Main container starts -->
      <div class="main-container">

        <!-- Sidebar wrapper starts -->
        <%- include('menu')%>
        <!-- Sidebar wrapper ends -->

        <!-- App container starts -->
        <div class="app-container">

          <!-- App hero header starts -->
          <div class="app-hero-header d-flex align-items-center">

            <!-- Breadcrumb starts -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a href="/index">Home</a>
              </li>
              <li class="breadcrumb-item text-primary" aria-current="page">
                Dashboard
              </li>
            </ol>
            <!-- Breadcrumb ends -->

            <!-- Sales stats starts -->
            
            <!-- Sales stats ends -->

          </div>
          <!-- App Hero header ends -->

          <!-- App body starts -->
          <div class="app-body">

            <!-- Row starts -->
            
            <!-- Row ends -->

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2 border border-success rounded-circle me-3">
                        <div class="icon-box md bg-success-subtle rounded-5">
                          <i class="ri-group-line fs-4 text-success"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Employés</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a class="text-success" href="/allPersonnel?allType=pas_admin">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line text-success ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0 text-success"><%= data.personnel %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid rgb(54, 47, 121); border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-door-open-line fs-4" style="color: rgb(54, 47, 121);"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Appartements</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: rgb(54, 47, 121);" href="/allAppart">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: rgb(54, 47, 121);"><%= data.nbAppart %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2 border border-danger rounded-circle me-3">
                        <div class="icon-box md bg-danger-subtle rounded-5">
                          <i class="ri-flower-line fs-4 text-danger"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Bar Simple</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a class="text-danger" href="/allBarClub">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0 text-danger"><%= data.nbBarSimple %></p>
                        <!-- <span class="badge bg-danger-subtle text-danger small">Crazy Club</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid #0beaf1; border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-vip-line fs-4" style="color: #0beaf1;"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Bar VIP</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: #0beaf1;" href="/allBarClub">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: #0beaf1;"><%= data.nbBarVip %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid #ff0707c2; border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-dice-line fs-4" style="color: #ff0707c2;"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Crazy Club</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: #ff0707c2;" href="/allBarClub">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: #ff0707c2;"><%= data.nbCrazyClub %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2 border border-warning rounded-circle me-3">
                        <div class="icon-box md bg-warning-subtle rounded-5">
                          <i class="ri-money-dollar-circle-line fs-4 text-warning"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h3 class="lh-1 text-warning">Recette One Love:  FCFA</h3>
                        <p class="m-0">Total Earnings</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a class="text-warning" href="/caisseOnelove">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0 text-warning">7</p>
                        <span class="badge bg-warning-subtle text-warning small">Caisse</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2 me-3" style="border: 2px solid #5b6409; border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-restaurant-line fs-4" style="color: #5b6409;"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Cuisine</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-end mt-1">
                      <a style="color: #5b6409;" href="/allCuisine">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: #5b6409;"><%= data.nbCuisine %></p>
                        <!-- <span class="badge bg-danger-subtle text-danger small"></span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid #f10bd2; border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-home-2-line fs-4" style="color: #f10bd2;"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Maison Close</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: #f10bd2;" href="/allMClose">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: #f10bd2;"><%= data.nbMaisonClose %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid #f10b63; border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-home-heart-line fs-4" style="color: #f10b63;"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Chambre</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: #f10b63;" href="/allMClose">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: #f10b63;"><%= data.nbChambre %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid #0c6892; border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-shopping-basket-line fs-4" style="color: #0c6892;"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Produit</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: #0c6892;" href="/allProduit">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: #0c6892;"><%= data.nbProduit %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid #0c1592; border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-shopping-bag-line fs-4" style="color: #0c1592;"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Emballage</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: #0c1592;" href="/allEmballage">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: #0c1592;"><%= data.nbEmballage %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid #73da13; border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-shapes-line fs-4" style="color: #73da13;"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0"> Catégorie d'article</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: #73da13;" href="/allCateg">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: #73da13;"><%= data.nbCategorieArticle %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid rgb(54, 47, 121); border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-door-open-line fs-4" style="color: rgb(54, 47, 121);"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Recette Bar Simple</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: rgb(54, 47, 121);" href="/allAppart">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: rgb(54, 47, 121);"><%= data.recetteBarSimple %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid rgb(54, 47, 121); border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-door-open-line fs-4" style="color: rgb(54, 47, 121);"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Recette Bar VIP</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: rgb(54, 47, 121);" href="/allAppart">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: rgb(54, 47, 121);"><%= data.recetteBarVip %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid rgb(54, 47, 121); border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-door-open-line fs-4" style="color: rgb(54, 47, 121);"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Recette Crazy Club</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: rgb(54, 47, 121);" href="/allAppart">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: rgb(54, 47, 121);"><%= data.recetteCrazyClub %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid rgb(54, 47, 121); border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-door-open-line fs-4" style="color: rgb(54, 47, 121);"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Recette Cuisine</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: rgb(54, 47, 121);" href="/allAppart">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: rgb(54, 47, 121);"><%= data.recetteCuisine %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid rgb(54, 47, 121); border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-door-open-line fs-4" style="color: rgb(54, 47, 121);"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Recette Appartement</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: rgb(54, 47, 121);" href="/allAppart">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: rgb(54, 47, 121);"><%= data.recetteAppart %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid rgb(54, 47, 121); border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-stock-line fs-4" style="color: rgb(54, 47, 121);"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Recette Maison Close</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: rgb(54, 47, 121);" href="#">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: rgb(54, 47, 121);"><%= data.recetteChambre %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="p-2  me-3" style="border: 2px solid rgb(54, 47, 121); border-radius: 50%;">
                        <div class="icon-box md bg-primary-subtle rounded-5">
                          <i class="ri-stock-line fs-4" style="color: rgb(54, 47, 121);"></i>
                        </div>
                      </div>
                      <div class="d-flex flex-column">
                        <h2 class="lh-1"></h2>
                        <p class="m-0">Recette total des caisses durent ce mois</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-1">
                      <a style="color: rgb(54, 47, 121);" href="#">
                        <span>Tout voir</span>
                        <i class="ri-arrow-right-line ms-1"></i>
                      </a>
                      <div class="text-end">
                        <p class="mb-0" style="color: rgb(54, 47, 121);"><%= data.sum_caisse_recette %></p>
                        <!-- <span class="badge small" style="color: rgb(54, 47, 121); background-color: rgba(54, 47, 121, 0.1);">Libre</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

            <!-- Row starts -->
             
            <!-- Row ends -->

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-xxl-12 col-sm-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="card-title">Available Beds</h5>
                  </div>
                  <div class="card-body">
                    <div id="availableBeds"></div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-6 col-sm-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="card-title">Patients</h5>
                  </div>
                  <div class="card-body">
                    <div id="patients"></div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-6 col-sm-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="card-title">Treatment Type</h5>
                  </div>
                  <div class="card-body">
                    <div id="treatment"></div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-6 col-sm-12">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="card-title">Hospital Earnings</h5>
                  </div>
                  <div class="card-body">

                    <!-- Row start -->
                    <div class="row g-3">
                      <div class="col-sm-6 col-12">
                        <div class="border rounded-2 d-flex align-items-center flex-row p-2">
                          <div class="me-2">
                            <div id="sparkline1"></div>
                          </div>
                          <div class="m-0">
                            <div class="d-flex align-items-center">
                              <h4 class="m-0 fw-bold">$4900</h4>
                              <div class="ms-2 text-primary d-flex">
                                <small>20%</small> <i class="ri-arrow-right-up-line ms-1 fw-bold"></i>
                              </div>
                            </div>
                            <small>Online Consultation</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-12">
                        <div class="border rounded-2 d-flex align-items-center flex-row p-2">
                          <div class="me-2">
                            <div id="sparkline2"></div>
                          </div>
                          <div class="m-0">
                            <div class="d-flex align-items-center">
                              <div class="fs-4 fw-bold">$750</div>
                              <div class="ms-2 text-danger d-flex">
                                <small>26%</small> <i class="ri-arrow-right-down-line ms-1 fw-bold"></i>
                              </div>
                            </div>
                            <small class="text-dark">Overall Purchases</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-12">
                        <div class="border rounded-2 d-flex align-items-center flex-row p-2">
                          <div class="me-2">
                            <div id="sparkline3"></div>
                          </div>
                          <div class="m-0">
                            <div class="d-flex align-items-center">
                              <div class="fs-4 fw-bold">$560</div>
                              <div class="ms-2 text-primary d-flex">
                                <small>28%</small> <i class="ri-arrow-right-up-line ms-1 fw-bold"></i>
                              </div>
                            </div>
                            <small class="text-dark">Pending Invoices</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-12">
                        <div class="border rounded-2 d-flex align-items-center flex-row p-2">
                          <div class="me-2">
                            <div id="sparkline4"></div>
                          </div>
                          <div class="m-0">
                            <div class="d-flex align-items-center">
                              <div class="fs-4 fw-bold">$390</div>
                              <div class="ms-2 text-primary d-flex">
                                <small>30%</small> <i class="ri-arrow-right-up-line ms-1 fw-bold"></i>
                              </div>
                            </div>
                            <small class="text-dark">Monthly Billing</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Row ends -->

                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-sm-6">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="card-title">Insurance Claims</h5>
                  </div>
                  <div class="card-body">
                    <div id="claims"></div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-sm-6">
                <div class="card mb-3">
                  <div class="card-header">
                    <h5 class="card-title">Patients by Gender</h5>
                  </div>
                  <div class="card-body">
                    <div class="auto-align-graph">
                      <div id="genderAge"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

          </div>
          <!-- App body ends -->

          <!-- App footer starts -->
          <div class="app-footer bg-white">
            <span>© OneLove admin 2024</span>
          </div>
          <!-- App footer ends -->

        </div>
        <!-- App container ends -->

      </div>
      <!-- Main container ends -->

    </div>
    <!-- Page wrapper ends -->

    <!-- *************
			************ JavaScript Files *************
		************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    
    <!-- Apex Charts -->
    <script src="assets/vendor/apex/apexcharts.min.js"></script>
    <script src="assets/vendor/apex/custom/home/patients.js"></script>
    <script src="assets/vendor/apex/custom/home/treatment.js"></script>
    <!-- <script src="assets/vendor/apex/custom/home/available-beds.js"></script> -->
    <script src="assets/vendor/apex/custom/home/earnings.js"></script>
    <script src="assets/vendor/apex/custom/home/gender-age.js"></script>
    <script src="assets/vendor/apex/custom/home/claims.js"></script>

    <!-- Custom JS files -->
    <%- include('script')%>
    <script>
      let recette = JSON.parse('')
      console.log(recette)

      // --------------------------------------------------------------------
      var options = {
        chart: {
          height: 400,
          type: "bar",
          toolbar: {
            show: false,
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
          width: 3,
        },
        series: [
          {
            name: "Occupied",
            data: [10, 40, 15, 40, 20, 35, 20, 10, 31, 43, 56, 29],
          },
          {
            name: "Reserved",
            data: [9, 20, 30, 51, 8, 25, 7, 35, 42, 20, 18, 35],
          },
          {
            name: "Available",
            data: [29, 8, 71, 35, 42, 20, 33, 67, 25, 7, 10, 20],
          },
          {
            name: "Cleanup",
            data: [12, 17, 51, 65, 42, 20, 25, 7, 10, 20, 25, 67],
          },
          {
            name: "Other",
            data: [51, 35, 42, 2, 8, 25, 7, 10, 20, 20, 33, 48],
          },
          {
            name: "time",
            data: [51, 90, 42, 20, 80, 15, 70, 10, 40, 29, 30, 48],
          }
        ],
        grid: {
          borderColor: "#d8dee6",
          strokeDashArray: 5,
          xaxis: {
            lines: {
              show: true,
            },
          },
          yaxis: {
            lines: {
              show: false,
            },
          },
          padding: {
            top: 0,
            right: 0,
            bottom: 10,
            left: 0,
          },
        },
        xaxis: {
          categories: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
        },
        yaxis: {
          labels: {
            show: false,
          },
        },
        colors: ["#116AEF", "#327FF2", "#5394F5", "#75AAF9", "#96BFFC", "#B7D4FF"],
        markers: {
          size: 0,
          opacity: 0.3,
          colors: ["#116AEF", "#327FF2", "#5394F5", "#75AAF9", "#96BFFC", "#B7D4FF"],
          strokeColor: "#ffffff",
          strokeWidth: 1,
          hover: {
            size: 7,
          },
        },
      };

      var chart = new ApexCharts(document.querySelector("#availableBeds"), options);

      chart.render();
    </script>
  </body>


<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:15:51 GMT -->
</html>