<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/accordions.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:35 GMT -->
<%- include('head')%>

  <body>

    <!-- Page wrapper starts -->
    <div class="page-wrapper">

      <!-- App header starts -->
      <% if(user.Personnel.type_personnel === 'admin'){%>
        <%- include('header')%>
      <% }else{%>
        <%- include('header-staff')%>
      <% }%>
      <!-- App header ends -->

      <!-- Main container starts -->
      <div class="main-container">

        <!-- Sidebar wrapper starts -->
        <% if(user.Personnel.type_personnel === 'admin'){%>
          <%- include('menu')%>
        <% }else{%>
          <%- include('menu-staff')%>
        <% }%>
        <!-- Sidebar wrapper ends -->

        <!-- App container starts -->
        <div class="app-container">

          <!-- App hero header starts -->
          <div class="app-hero-header d-flex align-items-center">

            <!-- Breadcrumb starts -->
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <i class="ri-home-8-line lh-1 pe-3 me-3 border-end"></i>
                <a href="/index">Accueil</a>
              </li>
              <li class="breadcrumb-item text-primary" aria-current="page">
                Liste des Historiques du Produit <%= produit.nom %>
              </li>
            </ol>
            <!-- Breadcrumb ends -->

            <!-- Sales stats starts -->
            
            <!-- Sales stats ends -->

          </div>
          <!-- App Hero header ends -->

          <!-- App body starts -->
          <div class="app-body">

            <% if(msg) {%>
              <% if(type === 'achat') {%>
                <% if(msg === 'ajout') {%>
                  <div class="alert bg-white border alert-dismissible fade show text-success" role="alert">
                    <b>Achat </b> ajouter avec succes !
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% }%>
                <% if(msg === 'modif') {%>
                  <div class="alert bg-white border alert-dismissible fade show text-info" role="alert">
                    <b>Achat </b> modifier avec succes !
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% }%>
                <% if(msg === 'sup') {%>
                  <div class="alert bg-white border alert-dismissible fade show text-danger" role="alert">
                    <b>Achat </b> supprimer avec succes !
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% }%>
              <% }%>
              <% if(type === 'vente') {%>
                <% if(msg === 'ajout') {%>
                  <div class="alert bg-white border alert-dismissible fade show text-success" role="alert">
                    <b>Vente </b> ajouter avec succes !
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% }%>
                <% if(msg === 'modif') {%>
                  <div class="alert bg-white border alert-dismissible fade show text-info" role="alert">
                    <b>Vente </b> modifier avec succes !
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% }%>
                <% if(msg === 'sup') {%>
                  <div class="alert bg-white border alert-dismissible fade show text-danger" role="alert">
                    <b>Vente </b> supprimer avec succes !
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <% }%>
              <% }%>
            <% }%>

            <!-- Row starts -->
            <div class="row gx-3">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5>Historique des achat/Entrer de produit</h5>
                    </div>
                    <div class="card-body">
  
                      <!--  aria-controls="basicExample" Table starts id="basicExample" class="table truncate m-0 align-middle dataTable" aria-describedby="basicExample_filter">-->
                      <div class="table-responsive">
                        <table id="customButtons" class="table truncate m-0 align-middle">
                          <thead class="text-center">
                            <tr>
                                <th>ID</th>
                                <th>Quantiter AJouter</th>
                                <th>Prix a l'uniter</th>
                                <th>Montant</th>
                                <th>Emmeteur</th>
                                <th>Date de l'operation</th>
                                <th>Heure de l'operation</th>
                                <th>Action</th>
                            </tr>
                          </thead>
                          <tbody class="text-center">
                            <% i = 1; hachats.forEach(hachat => {%>
                                <tr>
                                    <td><%= i %></td>
                                    <td><%= hachat.quantiter %></td>
                                    <td><%= hachat.prix_unit %></td>
                                    <td><%= hachat.prix_unit * hachat.quantiter %></td>
                                    <td><%= hachat.donneur %></td>
                                    <td><%= new Date(hachat.created).getDate() %>-<%= new Date(hachat.created).getMonth() + 1 %>-<%= new Date(hachat.created).getFullYear()%></td>
                                    <td><%= new Date(hachat.created).getHours() %>-<%= new Date(hachat.created).getMinutes() %>-<%= new Date(hachat.created).getSeconds()%></td>
                                    <td>
                                        <div class="d-inline-flex gap-1">
                                        <!-- ----------------------------------------------------------------------------------- -->
                                        
                                            <!-- Card starts -->
                                                <!-- Button trigger modal -->
                                                <button type="button" data-bs-toggle="modal"
                                                data-bs-target="#<%= hachat.id_hist %>ModalCenter" class="btn btn-outline-danger btn-sm">
                                                <i class="ri-delete-bin-line"></i>
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="<%= hachat.id_hist %>ModalCenter" tabindex="-1"
                                                aria-labelledby="personnel.id_personnelModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="<%= hachat.id_hist %>ModalCenterTitle">
                                                        Confirmer
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Voulez-vous vraiment supprimer cet Historique ?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                        annuler
                                                        </button>
                                                        <form action="/deleteHEntrer/<%= hachat.id_hist %>?_method=DELETE&id=<%= produit.id_produit %>" method="post">
                                                        <div class="col-sm-12">
                                                            <div class="d-flex gap-2 justify-content-end">
                                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                                            </div>
                                                        </div>
                                                        </form>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            <!-- Card ends -->
                                        
                                        <!-- ----------------------------------------------------------------------------------------- -->
                                        
                                        </div>
                                    </td>
                                </tr>
                            <% i++}) %>
                          </tbody>
                        </table>
                      </div>
                      <!-- Table ends -->
  
                      <!-- Modal Delete Row -->
                      
                    </div>
                  </div>
                </div>
              </div>
              <!-- Row ends -->
            <!-- Row starts -->
            
            <!-- Row ends -->

          
            <!-- Row starts -->
            
                       
            <!-- Row ends -->

            <!-- Row starts -->
            
            <!-- Row ends -->
            
          </div>
          <!-- App body ends -->

          <!-- App footer starts -->
          <div class="app-footer bg-white">
            <span>© OneLove admin 2024</span>
          </div>
          <!-- App footer ends -->

        </div>
        <!-- App container ends -->

      </div>
      <!-- Main container ends -->

    </div>
    <!-- Page wrapper ends -->

    <!-- *************
			************ JavaScript Files *************
		************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    
    
    <!-- Data Tables -->
    <!-- Custom JS files -->

    
    <%- include('script')%>
  </body>
  

<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/accordions.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:35 GMT -->
</html>