<!DOCTYPE html>
<html lang="en">

  
<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/doctors-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:09 GMT -->
<%- include('head')%>

  <body>

    <!-- Page wrapper starts -->
    <div class="page-wrapper">

      <!-- App header starts -->
      <%- include('header')%>
      <!-- App header ends -->

      <!-- Main container starts -->
      <div class="main-container">

        <!-- Sidebar wrapper starts -->
        <%- include('menu')%>
        <!-- Sidebar wrapper ends -->

        <!-- App container starts -->
        <div class="app-container">

          <!-- App hero header starts -->
          
          <!-- App Hero header ends -->

          <!-- App body starts -->
          <div class="app-body">

            <!-- Row starts -->
            <div class="row gx-3">
              <div class="col-xxl-6 col-sm-12">
                <div class="card mb-3 bg-1">
                  <div class="card-body mh-230">

                    <!-- Row starts -->
                    <div class="row gx-3">
                      <div class="col-sm-3">
                        <img src="/assets/images/user2.png" class="img-fluid rounded-3" alt="Medical Dashboard">
                      </div>
                      <div class="col-sm-9">
                        
                      </div>
                    </div>
                    <!-- Row ends -->
                  </div>
                </div>

                <!-- Table starts -->
                <div class="table-responsive">
                    <table id="basicExample" class="table truncate m-0 align-middle">
                      <thead class="text-center">
                        <tr>
                          <!-- <th>ID</th> -->
                          <th>Nom du Post</th>
                          <th>Salaire</th>
                          <th>Sous departement</th>
                          <th>Departement</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                        <tr>
                          <td>occupe.Poste.nom_poste</td>
                          <td></td>
                          <td>occupe.Poste.salaire</td>
                          <td>Oncologist</td>
                          <td>Oncologist</td>
                          <td>montant</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Table ends -->
                  <br>
                  <br>
                <!-- Table starts -->
                <div class="table-responsive">
                    <table id="basicExample" class="table truncate m-0 align-middle">
                      <thead class="text-center">
                        <tr>
                          <th>ID</th>
                          <th>Motif</th>
                          <th>Description</th>
                          <th>Date de la sanction</th>
                          <th>Montrant defalquer</th>
                        </tr>
                      </thead>
                      <tbody class="text-center">
                          <tr>
                            <td></td>
                            <td><%= occupe.Sanction%></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Table ends -->
              </div>
            </div>
            <!-- Row ends -->

          </div>
          <!-- App body ends -->

          <!-- App footer starts -->
          <div class="app-footer bg-white">
            <span>© Medflex admin 2024</span>
          </div>
          <!-- App footer ends -->

        </div>
        <!-- App container ends -->

      </div>
      <!-- Main container ends -->

    </div>
    <!-- Page wrapper ends -->

    <!-- *************
			************ JavaScript Files *************
		************* -->
    <%- include('script')%>
  </body>


<!-- Mirrored from buybootstrap.com/demos/medflex/medflex-admin-dashboard/doctors-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 15 May 2025 12:16:09 GMT -->
</html>